<!DOCTYPE html>
<head>
    <title>blog</title>
</head>

<body>
    <form method='post' action='/blog'>
        <label for="username">Username:</label><br>
        <input type="text" name="title">
    <br>
    <label for="image">Your url:</label> <br>
    <input type="text" name="image" id="username"><br>
        <label for="username">Your Content:</label> <br>
        <input type="text" name="content" id="username">
        <input type="submit" value="Add post">
       
    </form>
</body>
</html>